certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.3.2
decorator==4.4.2
dnspython==1.16.0
domain-connect==0.0.9
enum34==1.1.10
future==0.18.2
idna==2.10
ipaddress==1.0.23
publicsuffix==1.1.1
publicsuffixlist==0.7.7
pycparser==2.20
requests==2.25.1
six==1.15.0
urllib3==1.26.5
validators==0.14.2
