atomicwrites==1.4.0
attrs==20.3.0
backports.functools-lru-cache==1.6.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.5
cryptography==3.3.2
decorator==4.4.2
dnspython==1.16.0
domain-connect==0.0.9
enum34==1.1.10
funcsigs==1.0.2
future==0.18.2
idna==2.10
importlib-metadata==2.1.1
ipaddress==1.0.23
linecache2==1.0.0
more-itertools==5.0.0
packaging==20.9
pathlib2==2.3.5
pluggy==0.13.1
publicsuffix==1.1.1
publicsuffixlist==0.7.7
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==4.6.11
pytest-cov==2.11.1
requests==2.25.1
scandir==1.10.0
six==1.15.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.26.5
validators==0.14.2
wcwidth==0.2.5
zipp==1.2.0
